.header {
  @apply fixed inset-0 h-20 w-full z-10;
  background-color: #f4ede6;
}
.header #logo {
  @apply mt-4 fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.header #logo.logo-mobile {
  @apply left-4 sm:left-10;
  top: 0;
  transform: translate(0, 0);
}
.header #logo img {
  width: 100px;
}
.header .logo-layout {
  left: 15% !important;
}
.header .nav-link,
.header .ant-dropdown-trigger {
  font-size: 1.125rem;
  width: fit-content;
  line-height: 1.75rem;
  font-weight: 700 !important;
  font-family: "EB Garamond", serif;
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.header .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: (-50%, 0);
  background: rgb(5 104 59);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.header .nav-link:hover::after {
  left: 0;
  width: 100%;
}

.header button.controller {
  @apply visible md:hidden right-4 sm:right-10;
  position: absolute;
  top: 25px;
}
.header .bars,
.header .times {
  color: rgb(5 104 59);
  font-size: 1.6rem;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: rgb(244, 237, 230);
}
