.feedback {
  @apply pt-5 pb-12;
}
.feedback .feedback-detail {
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .feedback .feedback-detail {
    max-width: 450px;
  }
}
