@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.95rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  color: #3f3a64;
}
button,
a {
  cursor: pointer;
  transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -webkit-transition: all 0.3s ease !important;
}
p,
a,
span,
li,
b,
small {
  font-family: "Be Vietnam Pro", sans-serif;
}
#hand-written {
  font-family: "Licorice", cursive;
}

a:hover,
a:active {
  color: rgb(5 104 59) !important;
}

i,
svg {
  @apply mx-2 text-white text-lg;
}

.button-primary,
a.button-primary {
  @apply text-lg font-medium flex items-center justify-center bg-green-700 hover:bg-green-800 hover:text-white  pl-6 pr-3 py-2 tracking-wide rounded-lg;
  color: white !important;
}
