@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Noto+Serif:wght@400;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

p,
a,
span,
li,
b,
small,
i {
  font-family: "Source Sans Pro", sans-serif;
}
#handwritten {
  font-family: "Licorice", cursive;
}

a:hover,
a:active {
  color: rgb(5 104 59) !important;
}
